<div class="container rewards-list">
    <div class="row ">
        <h2 class="text-center pb-4">Coupons Available</h2>

        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;EAR00010</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>10% Discount on Earrings</li>
                    <li>Applicable only on Earring category of jewellery</li>
                    <li>Offer Applicable on minimum cart value of &nbsp; &#x20b9; &nbsp;1500</li>

                </ul>
            </div>
        </div>
        <hr>

        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;NEC00020</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>20% Discount on Necklace</li>
                    <li>Applicable only on Necklace category of jewellery</li>
                    <li>Offer Applicable on minimum cart value of &nbsp; &#x20b9; &nbsp;2500</li>

                </ul>
            </div>
        </div>
        <hr>




        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;RIN00015</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>15% Discount on Rings</li>
                    <li>Applicable only on Rings category of jewellery</li>
                    <li>Offer Applicable on minimum cart value of &nbsp; &#x20b9; &nbsp;2000</li>

                </ul>
            </div>
        </div>
        <hr>

        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;BRC00025</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>25% Discount on Bracelet</li>
                    <li>Applicable only on Bracelet category of jewellery</li>
                    <li>Offer Applicable on minimum cart value of &nbsp; &#x20b9; &nbsp;3000</li>

                </ul>
            </div>
        </div>
        <hr>




        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;BRCRIN20</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>20% Discount on combination of Bracelet and Ring </li>
                    <li>Applicable only on combination of Bracelet and Ring </li>
                    <li>Offer Applicable on minimum cart value of &nbsp; &#x20b9; &nbsp;5000</li>

                </ul>
            </div>
        </div>
        <hr>



        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;NECRIN25</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>25% Discount on combination of Necklace and Ring </li>
                    <li>Applicable only on combination of Necklace and Ring </li>
                    <li>Offer Applicable on minimum cart value of &nbsp; &#x20b9; &nbsp;5000</li>

                </ul>
            </div>
        </div>
        <hr>



        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;EARNEC20</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>20% Discount on combination of Earring and Necklace </li>
                    <li>Applicable only on combination of Earring and Necklace </li>
                    <li>Offer Applicable on minimum cart value of &nbsp; &#x20b9; &nbsp;5000</li>

                </ul>
            </div>
        </div>
        

    </div>
</div>
