<div class="container rewards-list">
    <div class="row ">
        <h2 class="text-center pb-4">Coupons Available</h2>

        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;HMKT0010</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>10% Discount on Home & Kitchen</li>
                    <li>Applicable only on Home & Kitchen category of products</li>
                    <li>Offer Applicable on minimum value of &nbsp; &#x20b9; &nbsp;1500</li>

                </ul>
            </div>
        </div>
        <hr>

        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;ELEC0020</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>20% Discount on Electronics</li>
                    <li>Applicable only on Electronics category of products</li>
                    <li>Offer Applicable on minimum  value of &nbsp; &#x20b9; &nbsp;2500</li>

                </ul>
            </div>
        </div>
        <hr>




        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;GRCS0015</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>15% Discount on Groceries</li>
                    <li>Applicable only on Groceries category of products</li>
                    <li>Offer Applicable on minimum value of &nbsp; &#x20b9; &nbsp;2000</li>

                </ul>
            </div>
        </div>
        <hr>

        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;PRCR0025</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>25% Discount on Pesonal Care</li>
                    <li>Applicable only on Personal Care category of products</li>
                    <li>Offer Applicable on minimum value of &nbsp; &#x20b9; &nbsp;3000</li>

                </ul>
            </div>
        </div>
        <hr>




        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;PRGR0020</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>20% Discount on combination of Personal Care and Groceries </li>
                    <li>Applicable only when Personal Care and Groceries category of products bought together</li>
                    <li>Offer Applicable on minimum value of &nbsp; &#x20b9; &nbsp;5000</li>

                </ul>
            </div>
        </div>
        <hr>



        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;ELGR0025</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>25% Discount on combination of Electronics and Groceries </li>
                    <li>Applicable only when Electronics and Groceries category of products bought together </li>
                    <li>Offer Applicable on minimum value of &nbsp; &#x20b9; &nbsp;5000</li>

                </ul>
            </div>
        </div>
        <hr>



        <div class="row pb-4">
            <div class="col-4">
                <h4><i class="fa-solid fa-tag fs-5"></i> &nbsp;HKEL0020</h4>
            </div>
            <div class="col-8">
                <ul>
                    <li>20% Discount on combination of Home-Kitchen and  Electronics </li>
                    <li>Applicable only when Home-Kitchen and  Electronics category of products bought together</li>
                    <li>Offer Applicable on minimum value of &nbsp; &#x20b9; &nbsp;5000</li>

                </ul>
            </div>
        </div>
        

    </div>
</div>
