<div class="row py-2 justify-content-between">
    <div class="col-6 text-start">Total items: {{cartItemsList.length}}</div>
    <div class="col-6 text-end">Total Amount: {{subtotal}}</div>

</div>

<div class="cart-list" *ngIf="cartItemsList.length==0">
    <div class=" my-2">
        <div class="col">
            <img class="empty-cart" src="http://santushtiorganic.com/assets/images/empty-cart.jpg" alt="">
        </div>
    </div>
</div>


<div class="cart-list" *ngIf="cartItemsList.length!=0">
    
    <div class="card my-2 " *ngFor="let item of cartItemsList">
        
        <div class="row">
            <div class="col-4">
                <img src="{{item.img}}" alt="">
            </div>
            
            <div class="col-8">
                <h5>{{item.name}}</h5>
                <div class="row">
                    <div class="col-8">
                        Qty: {{item.quantity}} X &nbsp; &#x20b9; &nbsp; {{item.discounted_price }}
                    </div>
                    <div class="col-4">&#x20b9; &nbsp;{{item.total}}</div>

                    <div class="row">
                        <div class="col-2"><button (click)="removeFromCart(item)" class="btn btn-trash my-1"><i class="fa-solid fa-trash-can"></i></button></div>
                        <div class="col-2"><button (click)="reduceItemQty(item)" class="btn btn-trash my-1"><i class="fa-solid fa-minus"></i></button></div>
                        <div class="col-2"><button (click)="addItemQty(item)" class="btn btn-trash my-1"><i class="fa-solid fa-plus"></i></button></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>