@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";



.card{
    @include card;
}


.btn-cart{
    @include wish;
}

.sliding-cart{
    position: fixed;
    top:0;
    right: 0;
    background-color: $wishlist-btn-bg;
    width: 0rem;
    height: 100vh;
    border-top-left-radius:1rem;
    border-bottom-left-radius:1rem;
    overflow: hidden;

    -webkit-box-shadow: -8px 1px 16px -3px rgba(50,56,56,0.66);
-moz-box-shadow: -8px 1px 16px -3px rgba(50,56,56,0.66);
box-shadow: -8px 1px 16px -3px rgba(50,56,56,0.66);
z-index: -1;

}


.product-grid{
    padding-top: 6rem;
}


.card{
    @include card;
}