@import "../../../styles/variables.scss";

header{
    background-color: $header-bg;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    position: fixed;
    z-index: 4;
    text-transform: uppercase;
    
    font-weight: 900;
    letter-spacing: 2px;

   
    a{
        padding-left:0.5rem;
        padding-right:0.5rem;

    }

    a,i{
        text-decoration: none;
        font-size: 1.2rem;
        color: $logo-clr;        
    }

    
    .left-nav{
        padding-left: 2rem;
    }
    .right-nav{
        padding-right: 2rem;
    }

    

    .nav-btn:hover{
        border-bottom:2px solid $logo-clr;
        
    }

    .btn-cart{
        background-color: transparent;
        border: none;
    }

    



@mixin countlabels{
    font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 500;
        border: 0px solid $buynow-hover;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 1px;
        padding-bottom: 0px;
        position: relative;
        
        
        background-color: $buynow-hover;

}

    .cart-count{
        @include countlabels();
        top:0px;
        right:10px;
 
    }

    .wish-count{
        @include countlabels();
    }

    .dropdown-item{
        font-size: smaller;
    }

       
}


.cart{
    width: 35rem;
    overflow-y: scroll;
    offcanvas-body{
        margin-bottom: 3rem;
    }
    
    .cart-footer{
        padding-top: 1rem;
        padding-bottom: 1rem;

        .btn{
            width: 12rem;
        }
    }

}