$header-bg:#F38181;
$logo-clr:#06283D;
$body-bg:#FAF4F4;
$white:#ffff;
$rating-bg:#388e3c;
$wishlist-btn-bg:#FAD4D4;
$buynow-btn-bg:#c8ecfa;
$wishlist-hover:#F47C7C;
$buynow-hover:#47B5FF;
$danger-btn-hover:#f05729;
$danger-btn-bg:#f97d54;