/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Questrial&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Questrial&family=Righteous&family=Roboto:wght@100;300;400&display=swap');
@import "./styles/variables.scss";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    

}


body{
    background-color:$body-bg ;
    font-family: 'Questrial', sans-serif;
  
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.product-grid{
    padding-top: 6rem;
}

@media only screen and (max-width: 768px) {
    *{
        font-size: 80%;
    }
    
  }